.startSplash{
    border: none;
}

.checkedEvent{
    text-decoration: line-through;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.5em;
}

.fb_iframe_widget span{
    vertical-align: middle !important;
}

.moveLeft{
    padding-left: 30px;
}

#validationMessage, .validateMsg{
    color: red;
}

#spinnerRow{
    text-align: center;
}

.warning{
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline;
}

.successNotif{
    font-weight: bold;
    color: green;
}

.mailField{
    display: none;
}

.leftAligned{
    text-align: left;
}

.currentWeek{
    background-color: greenyellow;
}